{% extends 'usersites/layout.html' %}

{% block body %}

<style>
</style>

<title>
  {{sitename}}
</title>


<h3>Welcome to {{sitename}}</h3><br>

{%if admin == True%}

{% endif %}

{{sitedesc}}<br><br>

<div class="text-center">

 <div class="grid-container-main item1">
  <div class="grid-head">Message area</div>
  {%for x in data%}
  <div class="grid-item"><a class="link" href="{{sn}}/posts/{{x[0]}}">{{x[2]}}</a><br><p class="grid-subtext">{{x[3]}}</p></div>
<!--  <div class="grid-item">0</div>
  <div class="grid-item">-</div>
-->
  {%endfor%}
</div>



</div>
{% endblock %}
