{% extends 'layout.html' %}

{% block body %}

<style>
</style>

<div class="text-center">

 <div class="grid-container">
  <div class="grid-head">Message area</div>
  <div class="grid-head"># of posts</div>
  <div class="grid-head">Last updated</div>

  {%for x in data%}
  <div class="grid-item"><a class="link" href="/posts/{{x[0]}}">{{x[2]}}</a><br><p class="grid-subtext">{{x[3]}}</p></div>
  <div class="grid-item">0</div>
  <div class="grid-item">-</div>
  {%endfor%}


<!--   <div class="grid-item">Feedback</div>
  <div class="grid-item">0</div>
  <div class="grid-item">-</div>
-->
</div>



</div>
{% endblock %}
